<html>
  <div class ="TopicTable"><table>
  <body>


    <% @movies.each do |movie| %>
      <tr>
        <div class="postbox"><br>
        <td><div class="postedtopics"><%= movie.title %></div></td>
        <td><%= link_to 'Show', movie_path(movie) %>      </td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Remove this topic?' } %></td>
      </tr></div></div>
    <% end %>

  </body>
</table><hr>

<div class="container">
    <div class="distop"><h1>Add a New Discussion Topic</h1></div>
    <%= form_for @movie do |f| %>

    <div class="formbox">
        <%= f.text_field :title %>
    </div><br>
    <div class = "button-submit">
    <%= f.submit "Add this Discussion Topic", class: "btn btn-primary btn-lg" %>
    </div>
<% end %>

</div>
</html>


