
<section>
    <div class="titles"><h2>Topics</h2></div>
        <div class="topicbox">
            <div class="convtopic">
                <%= @movie.title %>
            </div>
        </div>


    <% @movie.reviews.each do |review| %>

            <div class="commentbox">
                <h3>
                    <%= review.description %>

                </h3>
            </div>
    <% end %>
    




<div class="commentreview">

        <%= form_for [@movie, @review] do |f| %>
            <div>
            <%= f.label :description, "Comments" %>
            <%= f.text_field :description %>
            </div>
        <%= f.submit "Add a new comment", class: "btn btn-primary btn-lg" %>
        <% end %>

</div>

</section>
